
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 599px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px 5px;
    }

    .menu-toggle {
        display: block;
    }

    .active {
        display: flex;
    }
}
